@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css */

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}


 @keyframes progress {
  from { stroke-dashoffset: 276; }
  to   { stroke-dashoffset: 0;   }
}
body {
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 @apply antialiased;
  -webkit-tap-highlight-color: transparent; /* removes blue flash on tap */
}

input,
textarea,
[contenteditable] {
  cursor: text !important;
  -webkit-tap-highlight-color: transparent;
}

* {
  -webkit-user-select: text !important;
}